.clearbutton {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  background-color: lightgray;
  outline: 1px solid black;
}
